<h1>DominoCine.com</h1>

<ul>
{{#each movies}}
  <li class="itemFilm">
	<a href="#/movie/{{this.title}}">{{title}}</a>
	
	<div class="images">
		<ul>
		{{#each this.images}}
			<li>
		      <img src="{{this.unescapedUrl}}" alt="{{this.title}}" />
		   </li>
		{{/each}}
		</ul>
		
	</div>
	
	<div class="books">
		{{#each this.books}}
		  {{this.id}}
		{{/each}}
		
	</div>
	
  </li>
 {{/each}}
 
 </ul>