<h1>DominoCine.com</h1>

<ul>
{{#each movies}}
  <li class="itemFilm">
	<a href="#/movie/{{this.title}}">{{title}}</a>
	<a href="#/movie/{{this.title}}"><img src="{{this.img}}" alt="{{this.title}}" /></a>
	<div>
		{{#each this.books}}
		  {{this.id}}
		{{/each}}
		
	</div>
  </li>
 {{/each}}
 
 </ul>